---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div class="flex flex-col min-h-screen bg-[#F9F9F9]">
        <main class="mb-auto">
            <div class="px-8 w-[32rem] md:w-[62.5rem] mx-auto">
                <div class="text-3xl font-semibold text-[#333] mt-6">
                    标签 ✨
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-6"
                    >
                        <a href="/tags/Figma/">
                            <div
                                class="rounded-full bg-gradient-to-r from-orange-start to-orange-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># Figma</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-orange font-semibold"
                                >
                                    2
                                </div>
                            </div>
                        </a>
                        <a href="/tags/UI设计/">
                            <div
                                class="rounded-full bg-gradient-to-r from-blue-start to-blue-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># UI设计</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-blue font-semibold"
                                >
                                    3
                                </div>
                            </div>
                        </a>
                        <a href="/tags/表格组件/">
                            <div
                                class="rounded-full bg-gradient-to-r from-yellow-start to-yellow-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># 表格组件</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-yellow font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="/tags/实用技巧/">
                            <div
                                class="rounded-full bg-gradient-to-r from-green-start to-green-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># 实用技巧</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-green font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="/tags/设计分享/">
                            <div
                                class="rounded-full bg-gradient-to-r from-purple-start to-purple-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># 设计分享</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-purple font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="/tags/测试/">
                            <div
                                class="rounded-full bg-gradient-to-r from-cyan-start to-cyan-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># 测试</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-cyan font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="/tags/视觉设计/">
                            <div
                                class="rounded-full bg-gradient-to-r from-red-start to-red-end duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-lg"># 视觉设计</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-red font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
