---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div class="bg-[#F9F9F9]">
        <main
            class="px-8 w-[25rem] min-[360px]:w-[30rem] md:w-[62.5rem] mx-auto"
        >
            <div class="min-h-screen my-6">
                <img
                    src="https://bu.dusays.com/2023/11/20/655ad33a8844a.png"
                    alt="avatar"
                    class="w-20 mx-auto"
                />
            </div>
        </main>
    </div>
</DefaultLayout>
