---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import avatar from "../images/nin3_avatar.png";
import { Icon } from "astro-icon";
---

<DefaultLayout>
    <div
        class="bg-yellow/30 py-3 text-xl font-medium flex justify-center z-30 sticky top-[48px] backdrop-blur-lg"
    >
        🚧 看起来这里还在施工中 🚧
    </div>
    <div class="bg-[#F9F9F9]">
        <main
            class="px-8 w-[25rem] min-[360px]:w-[30rem] md:w-[62.5rem] mx-auto"
        >
            <div class="min-h-screen my-6">
                <img
                    src={avatar.src}
                    alt="avatar"
                    class="w-20"
                    data-aos="fade-down"
                />
                <h1
                    class="text-xl md:text-2xl font-medium leading-normal mb-10 group"
                    data-aos="fade-down"
                >
                    <span class="inline-flex mt-5">
                        <span>看起来是个</span>
                        <span
                            class="relative mx-2 outline outline-2 outline-blue outline-offset-4 underline decoration-blue select-all hover:bg-blue-200 duration-300"
                        >
                            Designer
                            <span
                                class="absolute h-4 w-4 md:h-5 md:w-5 -left-4 -top-4 bg-slate-100 border-2 border-blue"
                            >
                            </span>
                            <span
                                class="absolute h-4 w-4 md:h-5 md:w-5 -right-4 -top-4 bg-slate-100 border-2 border-blue"
                            >
                            </span>
                            <span
                                class="absolute h-4 w-4 md:h-5 md:w-5 -left-4 -bottom-4 bg-slate-100 border-2 border-blue"
                            >
                            </span>
                            <span
                                class="absolute h-4 w-4 md:h-5 md:w-5 -right-4 -bottom-4 bg-slate-100 border-2 border-blue"
                            >
                            </span>
                        </span>
                    </span>，
                    <span class="whitespace-nowrap">
                        <span class="font-mono">&lt;</span>
                        <span class="select-all hover:bg-blue-200 duration-300"
                            >Developer</span
                        >
                        <span class="font-mono"> /&gt;</span></span
                    >，
                    <br />
                    <br class="md:hidden" />
                    <div class="md:mt-6">
                        <span class="whitespace-nowrap"
                            ><ruby
                                >敲<rt
                                    class="opacity-0 group-hover:opacity-100 group-hover:-translate-y-0.5 text-blue duration-150 ease-in-out"
                                    >qiāo</rt
                                ></ruby
                            >代码，<ruby
                                >搞<rt
                                    class="opacity-0 group-hover:opacity-100 group-hover:-translate-y-0.5 text-blue duration-150 ease-in-out delay-100"
                                    >gǎo</rt
                                ></ruby
                            >设计，<ruby
                                >写<rt
                                    class="opacity-0 group-hover:opacity-100 group-hover:-translate-y-0.5 text-blue duration-150 ease-in-out delay-200"
                                    >xiě</rt
                                ></ruby
                            >博客。</span
                        >
                    </div>
                </h1>
                <div
                    class="grid grid-cols-2 grid-rows-6 md:grid-rows-4 gap-4 my-10"
                >
                    <div
                        class="col-span-2 bg-white rounded-3xl flex justify-center items-center"
                        data-aos="fade-up"
                    >
                        <div class="absolute flex gap-8 md:gap-10">
                            <div class="flex flex-col gap-8 items-center group">
                                <div
                                    class="opacity-0 group-hover:opacity-100 group-hover:translate-y-1 duration-150"
                                >
                                    <div
                                        class="flex flex-col items-center gap-2"
                                    >
                                        <p
                                            class="text-blue font-bold font-[SFMono-Regular]"
                                        >
                                            2022年7月4日
                                        </p>
                                        <p class="text-gray font-bold">
                                            映射在玻璃上斑驳的光影
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="w-48 h-40 bg-[#FFF6E6] hover:rotate-0 rotate-6 hover:z-10 duration-150 shadow-dark rounded-sm flex items-center overflow-hidden grayscale-[75%] hover:grayscale-0 hover:scale-110"
                                >
                                    <img
                                        src="https://bu.dusays.com/2024/03/13/65f1752436aa9.jpg"
                                        alt="映射在玻璃上的光影"
                                        class="w-full h-full p-3"
                                    />
                                </div>
                            </div>
                            <div
                                class="flex flex-col gap-8 -ml-44 md:-ml-4 items-center group"
                            >
                                <div
                                    class="opacity-0 group-hover:opacity-100 group-hover:translate-y-1 duration-150"
                                >
                                    <div
                                        class="flex flex-col items-center gap-2"
                                    >
                                        <p
                                            class="text-blue font-bold font-[SFMono-Regular]"
                                        >
                                            2022年7月21日
                                        </p>
                                        <p class="text-gray font-bold">
                                            在飞往哈尔滨的飞机上
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="w-48 h-40 bg-[#E6F0FF] hover:rotate-0 rotate-3 hover:z-10 duration-150 shadow-dark rounded-sm overflow-hidden grayscale-[75%] hover:grayscale-0 hover:scale-110"
                                >
                                    <img
                                        src="https://bu.dusays.com/2024/03/13/65f194928b6ac.jpg"
                                        alt="在飞往哈尔滨的飞机上"
                                        class="w-full h-full p-3"
                                    />
                                </div>
                            </div>
                            <div
                                class="flex flex-col gap-8 -ml-44 md:-ml-4 items-center group"
                            >
                                <div
                                    class="opacity-0 group-hover:opacity-100 group-hover:translate-y-1 duration-150"
                                >
                                    <div
                                        class="flex flex-col items-center gap-2"
                                    >
                                        <p
                                            class="text-blue font-bold font-[SFMono-Regular]"
                                        >
                                            2021年11月13日
                                        </p>
                                        <p class="text-gray font-bold">
                                            Blender的一次练习
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="w-48 h-40 bg-[#FFF6E6] hover:rotate-0 rotate-6 hover:z-10 duration-150 shadow-dark rounded-sm overflow-hidden grayscale-[75%] hover:grayscale-0 hover:scale-110"
                                >
                                    <img
                                        src="https://bu.dusays.com/2024/03/13/65f192960ff2f.jpg"
                                        alt="Blender的一次练习"
                                        class="w-full h-full p-3"
                                    />
                                </div>
                            </div>
                            <div
                                class="flex flex-col gap-8 -ml-44 md:-ml-4 items-center group"
                            >
                                <div
                                    class="opacity-0 group-hover:opacity-100 group-hover:translate-y-1 duration-150"
                                >
                                    <div
                                        class="flex flex-col items-center gap-2"
                                    >
                                        <p
                                            class="text-blue font-bold font-[SFMono-Regular]"
                                        >
                                            2022年9月25日
                                        </p>
                                        <p class="text-gray font-bold">
                                            出差平顶山的夕阳
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="w-48 h-40 bg-[#E6F0FF] hover:rotate-0 rotate-3 hover:z-10 duration-150 shadow-dark rounded-sm overflow-hidden grayscale-[75%] hover:grayscale-0 hover:scale-110"
                                >
                                    <img
                                        src="https://bu.dusays.com/2024/03/13/65f191013a526.jpg"
                                        alt="出差平顶山的夕阳"
                                        class="w-full h-full p-3"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-span-2 md:col-span-1 bg-white rounded-3xl h-80 flex flex-col justify-center"
                        data-aos="fade-up"
                    >
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-col items-center">
                                <div
                                    class="font-semibold text-blue text-2xl font-[SFMono-Regular]"
                                >
                                    01.
                                </div>
                                <div class="text-gray font-medium text-2xl">
                                    “花45s来向我们介绍你自己”
                                </div>
                            </div>
                            <div class="text-xl font-light px-10">
                                某不知名211农林类大学出身的视觉传达设计学生
                                <i class="text-[#ccc]"> / </i>
                                想通过一己之力实现自己设计的内容<i
                                    class="text-[#ccc]"
                                >
                                    /
                                </i>只懂一丢丢编程，最喜欢码Tailwindcss
                                <i class="text-[#ccc]">
                                    /
                                </i>在KTV里面必点周杰伦和陈奕迅<i
                                    class="text-[#ccc]"
                                >
                                    /
                                </i>探索世界的动力是好奇心和胜负欲。
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-span-2 row-span-2 md:col-span-1 bg-white rounded-3xl flex flex-col justify-center"
                        data-aos="fade-up"
                    >
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-col items-center">
                                <div
                                    class="font-semibold text-blue text-2xl font-[SFMono-Regular]"
                                >
                                    02.
                                </div>
                                <div class="text-gray font-medium text-2xl">
                                    我与博客
                                </div>
                            </div>
                            <div class="text-xl font-light px-10">
                                <p class="indent-10">
                                    初心是第一份工作失利，离职在家赋闲，时觉焦虑与内耗缠身，索性借着对UI设计的热情，学习与之接壤的网页设计，至此开启了钻研前端的征程。
                                </p><p class="indent-10">
                                    从Hexo中众多的主题中瞥见了安知鱼，接着就是配置主题文件，自定义与魔改，与博客的羁绊就这样建立了起来。
                                </p><p class="indent-10">
                                    因为是低成本建站，没有购置云服务器，所以Hexo框架下的加载速度一直很严峻，过多的未被引用的CSS样式表和主题插件所带来的JS阻塞让首页访问速度一度跌到10秒开外，遂另寻出路。
                                </p><p class="indent-10">
                                    他山之石可以攻玉，在取经其他站长的过程中，Astro框架和Tailwindcss成为了建立本站的最重要工具。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-span-2 md:col-span-1 bg-white rounded-3xl flex flex-col justify-center"
                        data-aos="fade-up"
                    >
                        <div class="flex flex-col items-center gap-8">
                            <div class="flex flex-col items-center">
                                <div
                                    class="font-semibold text-blue text-2xl font-[SFMono-Regular]"
                                >
                                    03.
                                </div>
                                <div class="text-gray font-medium text-2xl">
                                    截至目前，本站已有：
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-6 justify-center">
                                <div
                                    class="flex flex-row gap-2 align-text-bottom"
                                >
                                    <div
                                        class="text-gray font-[SFMono-Regular] text-4xl font-black"
                                    >
                                        4
                                    </div><div class="text-xl font-light">
                                        篇原创内容
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <div
                                        class="text-gray font-[SFMono-Regular] text-4xl font-black"
                                    >
                                        4
                                    </div><div class="text-xl font-light">
                                        个话题
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <div
                                        class="text-gray font-[SFMono-Regular] text-4xl font-black"
                                    >
                                        2
                                    </div><div class="text-xl font-light">
                                        位邻居
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <div
                                        class="text-gray font-[SFMono-Regular] text-4xl font-black"
                                    >
                                        19
                                    </div><div class="text-xl font-light">
                                        条参考链接
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2">
                                    <div
                                        class="text-gray font-[SFMono-Regular] text-4xl font-black"
                                    >
                                        2
                                    </div><div class="text-xl font-light">
                                        条评论
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-span-2 bg-white rounded-3xl flex flex-col justify-center gap-4"
                        data-aos="fade-up"
                    >
                        <div class="flex flex-col items-center justify-center">
                            <div
                                class="font-semibold text-blue text-2xl font-[SFMono-Regular]"
                            >
                                04.
                            </div>
                            <div class="text-gray font-medium text-2xl">
                                本站创作过程中使用的工具
                            </div>
                        </div>
                        <div
                            class="flex flex-wrap gap-x-10 md:gap-x-0 justify-center"
                        >
                            <a
                                href="http://figma.com"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#333] group ease-curve-in"
                                ><Icon
                                    name="tool-figma-default"
                                    class="hidden w-20 h-20 group-hover:inline-block"
                                /><Icon
                                    name="tool-figma-change"
                                    class="w-20 h-20 group-hover:hidden"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-white font-bold"
                                    >
                                        Figma
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-white text-sm"
                                    >
                                        我站的所有封面和原型设计都使用Figma来完成！
                                    </p>
                                </div>
                            </a>
                            <a
                                href="https://www.behance.net/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#1769ff] group ease-curve-in"
                            >
                                <Icon
                                    name="tool-behance"
                                    class="w-20 h-20 fill-[#7c7c7c] group-hover:fill-[#FFFFFF]"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-white font-bold"
                                    >
                                        Behance
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-white text-sm"
                                    >
                                        良好的封面设计风格参考当然少不了Behance啦~
                                    </p>
                                </div>
                            </a>
                            <a
                                href="https://github.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#333] group ease-curve-in"
                            >
                                <Icon
                                    name="tool-github"
                                    class="w-20 h-20 fill-[#7c7c7c] group-hover:fill-[#FFFFFF]"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-white font-bold"
                                    >
                                        Github
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-white text-sm"
                                    >
                                        我站的源代码都存储在这里呢!
                                    </p>
                                </div>
                            </a>
                            <a
                                href="https://astro.build/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#333] group ease-curve-in"
                            >
                                <Icon
                                    name="tool-astro-default"
                                    class="w-20 h-20 group-hover:hidden"
                                />
                                <Icon
                                    name="tool-astro-change"
                                    class="hidden w-20 h-20 group-hover:inline-block"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-white font-bold"
                                    >
                                        Astro
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-white text-sm"
                                    >
                                        我站的框架是Astro，内容驱动，没有JS代码阻塞的群岛！
                                    </p>
                                </div>
                            </a>
                            <a
                                href="https://tailwindcss.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#109BFF] group ease-curve-in"
                            >
                                <Icon
                                    name="tool-tailwind"
                                    class="w-20 h-20 fill-[#7c7c7c] group-hover:fill-[#FFFFFF]"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-white font-bold"
                                    >
                                        Tailwind
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-white text-sm"
                                    >
                                        抱着学习和尝试的态度试了试，结果停不下来~
                                    </p>
                                </div>
                            </a>
                            <a
                                href="https://www.netlify.com/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex hover:grow duration-300 hover:bg-[#DCFFEC] group ease-curve-in"
                            >
                                <Icon
                                    name="tool-netlify-default"
                                    class="w-20 h-20 group-hover:hidden"
                                />
                                <Icon
                                    name="tool-netlify-change"
                                    class="hidden w-20 h-20 group-hover:inline-block"
                                />
                                <div class="flex flex-col justify-center">
                                    <p
                                        class="hidden group-hover:inline-block text-[#014847] font-bold"
                                    >
                                        Netlify
                                    </p>
                                    <p
                                        class="hidden md:group-hover:inline-block text-[#014847] text-sm"
                                    >
                                        网站部署就找他，国内访问挺快的!
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
