---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogPost from "../components/BlogPosts.astro";

const allPosts = await getCollection("posts");
---

<DefaultLayout>
    <div class="bg-[#F9F9F9]">
        <main
            class="px-8 w-[25rem] min-[360px]:w-[30rem] md:w-[62.5rem] mx-auto"
        >
            <div class="text-3xl font-semibold text-[#333] py-6">归档 📚</div>
            {
                allPosts.map((post) => (
                    <BlogPost
                        url={`/posts/${post.slug}/`}
                        title={post.data.title}
                        cover={post.data.cover}
                        pubDate={post.data.pubDate}
                    />
                ))
            }
        </main>
    </div>
</DefaultLayout>
