---
import "../styles/category.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Categorys' page</title>
        <link rel="stylesheet" href="category.css" />
    </head>

    <body>
        <div class="flex-container">
            <div class="container big orange">
                <div class="title">
                    <p class="title-detail">+ 代码钻研</p>
                    <div class="number">
                        <p class="orangenumber">36</p>
                    </div>
                </div>
                <span> &lt;/&gt;</span>
            </div>
            <div class="container normal yellow">
                <div class="title">
                    <p class="title-detail">+ 更多内容</p>
                    <div class="number">
                        <p class="yellownumber">5</p>
                    </div>
                </div>
                <span> 更多+</span>
            </div>
            <div class="container normal green">
                <div class="title">
                    <p class="title-detail">+ 经验分享</p>
                    <div class="number">
                        <p class="greennumber">7</p>
                    </div>
                </div>
                <span> EXP+</span>
            </div>
            <div class="container big blue">
                <div class="title">
                    <p class="title-detail">+ 视觉设计</p>
                    <div class="number">
                        <p class="bluenumber">369</p>
                    </div>
                </div>
                <span> 更多+</span>
            </div>
            <div class="container normal purple">
                <div class="title">
                    <p class="title-detail">+ 音乐分享</p>
                    <div class="number">
                        <p class="purplenumber">12</p>
                    </div>
                </div>
                <span> 音乐♪</span>
            </div>
            <div class="container normal cyan">
                <div class="title">
                    <p class="title-detail">+ 更多内容</p>
                    <div class="number">
                        <p class="cyannumber">3</p>
                    </div>
                </div>
                <span> 更多+</span>
            </div>
        </div>
    </body>
</html>
