---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Socialcard from "@components/socialcard.astro";
import Posts from "@components/posts.astro";
---

<DefaultLayout>
    <div class="bg-[#F9F9F9]">
        <main
            class="px-8 w-[25rem] min-[360px]:w-[30rem] md:w-[62.5rem] mx-auto"
        >
            <Socialcard />
            <Posts />
        </main>
    </div>
</DefaultLayout>
