---
import "../styles/tags.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tags' page</title>
        <link rel="stylesheet" href="tags.css" />
    </head>

    <body>
        <div class="flex-container">
            <div class="container orange">
                <p># 标签名称</p>
                <div class="number">
                    <p class="orangenumber">1</p>
                </div>
            </div>
            <div class="container red">
                <p># 标签名称</p>
                <div class="number">
                    <p class="rednumber">2</p>
                </div>
            </div>
            <div class="container yellow">
                <p># 标签名称</p>
                <div class="number">
                    <p class="yellownumber">4</p>
                </div>
            </div>
            <div class="container purple">
                <p># 标签名称</p>
                <div class="number">
                    <p class="purplenumber">12</p>
                </div>
            </div>
            <div class="container green">
                <p># 标签名称</p>
                <div class="number">
                    <p class="greennumber">2</p>
                </div>
            </div>
            <div class="container blue">
                <p># 标签名称</p>
                <div class="number">
                    <p class="bluenumber">6</p>
                </div>
            </div>
            <div class="container green">
                <p># 标签名称</p>
                <div class="number">
                    <p class="greennumber">5</p>
                </div>
            </div>
            <div class="container blue">
                <p># 标签名称</p>
                <div class="number">
                    <p class="bluenumber">7</p>
                </div>
            </div>
            <div class="container purple">
                <p># 标签名称</p>
                <div class="number">
                    <p class="purplenumber">9</p>
                </div>
            </div>
            <div class="container red">
                <p># 标签名称</p>
                <div class="number">
                    <p class="rednumber">123</p>
                </div>
            </div>
            <div class="container yellow">
                <p># 标签名称</p>
                <div class="number">
                    <p class="yellownumber">1</p>
                </div>
            </div>
            <div class="container cyan">
                <p># 标签名称</p>
                <div class="number">
                    <p class="cyannumber">1</p>
                </div>
            </div>
        </div>
    </body>
</html>
