---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div class="flex flex-col min-h-screen bg-[#F9F9F9]">
        <main class="mb-auto">
            <div class="px-8 w-[32rem] md:w-[62.5rem] mx-auto">
                <div class="text-3xl font-semibold text-[#333] mt-6">
                    标签 ✨
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 py-6"
                    >
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#FF7410] to-[#FBA86C] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># Figma</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#FF7410] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#1070FF] to-[#66A2FB] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># UI设计</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#66A2FB] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#FFB800] to-[#FBD166] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># 表格组件</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#FFB800] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#039C00] to-[#5EBE5D] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># 实用技巧</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#039C00] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#8810FF] to-[#B56FFB] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># 网站搭建</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#8810FF] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#7F94FF] to-[#B0BCFB] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># 测试</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#7F94FF] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="rounded-full bg-gradient-to-r from-[#FF1E10] to-[#FB6F66] duration-300 hover:scale-95 h-16 flex flex-row justify-between items-center px-4"
                            >
                                <div class="text-white text-xl"># 视觉设计</div>
                                <div
                                    class="rounded-full bg-white px-2 text-lg text-[#FF1E10] font-semibold"
                                >
                                    1
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</DefaultLayout>
