---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
    <div class="bg-[#F9F9F9]">
        <main class="mx-6 md:mx-auto md:w-[62.5rem] py-16">
            <h1 class="text-4xl font-bold py-4">这是一个h1标题</h1>
            <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                class="transition-all ease-in-out bg-bottom hover:bg-[length:100%_1px] bg-[#ff9500] text-[#ff9500] bg-no-repeat duration-200"
                >一个未知的链接</a
            >
        </main>
    </div>
</DefaultLayout>
