<section class="my-10 flex justify-center text-4xl font-bold">Comments</section>

<script
    src="https://giscus.app/client.js"
    data-repo="Nin3lee/giscus-comments"
    data-repo-id="R_kgDOLVtumQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOLVtumc4CdYtx"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light_tritanopia"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async></script>
