---
import { Icon } from "astro-icon";
---

<style lang="css">
    [astro-icon="click"] {
        width: 25px;
        height: 25px;
    }
</style>
<div class="py-10">
    <h1 class="text-3xl mb-5 font-semibold text-[#333]" data-aos="fade-up">
        最近 🌟
    </h1>
    <div class="grid gap-10 grid-cols-2 grid-rows-3 md:grid-rows-2">
        <div class="flex col-span-2 md:h-80" data-aos="fade-up">
            <a
                href="posts/figma-designers-sharing"
                class="bg-white rounded-2xl hover:scale-95 duration-300 overflow-hidden md:flex hover:shadow-lg hover:brightness-95 shadow-lg"
            >
                <img
                    src="https://bu.dusays.com/2023/12/26/658a83013227f.png"
                    alt="cover"
                />
                <div
                    class="flex flex-col p-4 md:p-12 h-[99px] md:h-[240px] lg:h-[280px] justify-between"
                >
                    <div class="flex flex-col">
                        <span
                            class="text-emerald-500 text-xl font-semibold md:text-2xl md:mb-2"
                            >经验</span
                        >
                        <span
                            class="text-2xl font-semibold md:text-4xl text-[#333] truncate md:whitespace-normal"
                            >分享Figma社区上的宝藏设计师</span
                        >
                    </div>
                    <time class="text-base text-[#999]"
                        >2023 年 11 月 29 日</time
                    >
                </div>
            </a>
        </div>
        <div class="flex col-span-2 md:col-span-1" data-aos="fade-up">
            <a
                href="posts/news-app-sharing "
                class="bg-white rounded-2xl hover:scale-95 duration-300 overflow-hidden hover:shadow-lg hover:brightness-95 shadow-lg"
            >
                <img
                    src="https://bu.dusays.com/2023/12/26/658a83012e97b.png"
                    alt="cover"
                />
                <div
                    class="flex flex-col p-4 h-[99px] md:h-[120px] justify-between"
                >
                    <div class="flex flex-col">
                        <span class="text-blue-500 text-xl font-semibold"
                            >视觉</span
                        >
                        <span
                            class="text-2xl font-semibold text-[#333] truncate"
                            >新闻类APP设计系统分享</span
                        >
                    </div>
                    <time class="text-base text-[#999] md:text-sm"
                        >2023 年 10 月 18 日</time
                    >
                </div></a
            >
        </div>
        <div class="flex col-span-2 md:col-span-1" data-aos="fade-up">
            <a
                href="posts/figma-responsive-table"
                class="bg-white rounded-2xl hover:scale-95 duration-300 overflow-hidden hover:shadow-lg hover:brightness-95 shadow-lg"
            >
                <img
                    src="https://bu.dusays.com/2023/12/26/658a83012f3c4.png"
                    alt="cover"
                />
                <div
                    class="flex flex-col p-4 h-[99px] md:h-[120px] justify-between"
                >
                    <div class="flex flex-col">
                        <span class="text-emerald-500 text-xl font-semibold"
                            >经验</span
                        >
                        <span
                            class="truncate text-2xl font-semibold text-[#333]"
                            >手把手教你如何用Figma画个自适应表格</span
                        >
                    </div>
                    <time class="text-base text-[#999] md:text-sm"
                        >2023 年 11 月 14 日</time
                    >
                </div></a
            >
        </div>
    </div>
</div>
<div class="py-10">
    <h1 class="text-3xl mb-5 font-semibold text-[#333]" data-aos="fade-up">
        更多 🔭
    </h1>
    <div class="grid grid-rows-2 md:grid-cols-2 md:grid-rows-1 gap-10">
        <div class="flex" data-aos="fade-up">
            <a
                href="posts/this-is-a-test"
                class="flex bg-white h-40 rounded-2xl hover:scale-95 duration-300 overflow-hidden hover:shadow-lg hover:brightness-95 shadow-md"
                ><img
                    src="https://bu.dusays.com/2023/12/26/658a9399292f9.png"
                    alt="cover"
                    class="aspect-square object-cover min-[360px]:aspect-video"
                />
                <div class="flex flex-col p-4 justify-between">
                    <div class="flex flex-col">
                        <span
                            class="text-indigo-500 font-semibold text-sm md:text-lg"
                            >更多</span
                        >
                        <span
                            class="text-lg md:text-xl font-semibold text-[#333]"
                            >这只是一个测试！</span
                        >
                    </div>
                    <time class="text-xs text-[#999] md:text-sm"
                        >2000 年 02 月 04 日</time
                    >
                </div>
            </a>
        </div>
        <div class="flex" data-aos="fade-up">
            <a
                href="posts/this-is-a-test"
                class="flex bg-white h-40 rounded-2xl hover:scale-95 duration-300 overflow-hidden hover:shadow-lg hover:brightness-95 shadow-md"
                ><img
                    src="https://bu.dusays.com/2023/12/26/658a9399299da.png"
                    alt="cover"
                    class="aspect-square object-cover min-[360px]:aspect-video"
                />
                <div class="flex flex-col p-4 justify-between">
                    <div class="flex flex-col">
                        <span
                            class="text-indigo-500 font-semibold text-sm md:text-lg"
                            >更多</span
                        >
                        <span
                            class="text-lg md:text-xl font-semibold text-[#333]"
                            >这只是一个测试！</span
                        >
                    </div>
                    <time class="text-xs text-[#999] md:text-sm"
                        >2000 年 02 月 04 日</time
                    >
                </div></a
            >
        </div>
    </div>
</div>
<div class="py-10 flex justify-end" data-aos="fade-up">
    <div class="text-[#333] group">
        <a
            href="/archive/"
            class="flex items-center font-semibold group-hover:text-blue-500 duration-300"
        >
            <Icon name="click" class="group-hover:fill-blue-500 duration-300" />
            浏览归档</a
        >
    </div>
</div>
