---

---

<div class="bg-[#F9F9F9]">
  <div
    class="prose prose-slate prose-xl mx-6 md:mx-auto py-16 prose-ul:p-0 prose-ul:list-inside prose-strong:bg-gray-200 prose-strong:rounded-md prose-strong:px-1 prose-strong:text-[#4F5CD7] prose-blockquote:text-stone-600 prose-blockquote:not-italic prose-a:no-underline hover:prose-a:underline prose-a:text-blue-500 prose-a:after:content-['↗'] prose-a:not-italic prose-blockquote:after:content-['❞'] prose-blockquote:before:content-['❝'] prose-blockquote:before:text-4xl prose-blockquote:border-0 prose-blockquote:p-0 prose-blockquote:flex prose-blockquote:justify-center prose-blockquote:text-2xl prose-img:rounded-2xl prose-img:w-full"
  >
    <slot />
  </div>
</div>
