---

---

<div class="bg-[#F9F9F9]">
  <div
    class="prose prose-slate prose-xl mx-6 md:mx-auto py-10 prose-ul:p-0 prose-ul:list-inside prose-strong:bg-gray-200 prose-strong:rounded-md prose-strong:px-1 prose-strong:text-[#4F5CD7] prose-blockquote:not-italic prose-blockquote:after:content-['❞'] prose-blockquote:before:content-['❝'] prose-blockquote:before:text-4xl prose-blockquote:border-0 prose-blockquote:p-0 prose-blockquote:flex prose-blockquote:justify-center prose-blockquote:text-2xl prose-img:rounded-2xl prose-img:w-full prose-pre:rounded-2xl prose-a:no-underline prose-a:text-blue-500 prose-a:after:content-['↗'] prose-a:not-italic prose-a:duration-200 prose-a:ease-in-out prose-a:bg-bottom prose-a:bg-no-repeat prose-a:bg-no-underline-size hover:prose-a:bg-underline-size prose-a:bg-underline prose-video:rounded-2xl prose-video:w-full"
  >
    <slot />
  </div>
</div>
