---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="zh" class="text-xs lg:text-sm scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nin3的个人主页</title>
        <link rel="icon" href="/favicon.ico" type="image/svg+xml/ico" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script
            async
            src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        ></script>
        <ViewTransitions />
    </head><body class="bg-[#F9F9F9]">
        <Header />
        <slot />
        <Footer />
        <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script is:inline>
            AOS.init({
                once: true,
                duration: 400,
                easing: "ease-out-cubic",
            });
        </script>
    </body>
</html>
