---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="zh" class="text-xs lg:text-sm scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Nin3's personal site for blog, sharing about UI Design, web development"
        />
        <title>Nin3的个人主页</title>
        <link rel="icon" href="/favicon.ico" type="image/svg+xml/ico" />
        <script
            async
            src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        ></script>
        <ViewTransitions />
    </head><body class="bg-[#F9F9F9]">
        <Header />
        <slot />
        <Footer />
        <script src="@js/aos"></script>
    </body>
</html>
