---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Prose from "@components/prose.astro";
---

<!doctype html>
<html lang="zh" class="text-xs lg:text-sm scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nin3的个人主页</title>
        <link rel="icon" href="/favicon.ico" type="image/svg+xml/ico" />
    </head>
    <body class="bg-[#F9F9F9]">
        <Header />
        <Prose>
            <slot />
        </Prose>
        <Footer />
    </body>
</html>
